/* Display */
.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

/* Flexbox */
.flex-row {
    flex-direction: row !important;
}

.flex-col {
    flex-direction: column !important;
}

.justify-start {
    justify-content: flex-start !important;
}

.justify-center {
    justify-content: center !important;
}

.justify-between {
    justify-content: space-between !important;
}

.justify-evenly {
    justify-content: space-evenly !important;
}

.justify-end {
    justify-content: flex-end !important;
}

.items-start {
    align-items: flex-start !important;
}

.items-center {
    align-items: center !important;
}

.items-end {
    align-items: flex-end !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

.flex-shrink-1 {
    flex-shrink: 1 !important;
}

.flex-basis-0 {
    flex-basis: 0 !important;
}

.flex-basis-auto {
    flex-basis: auto !important;
}

.flex-1 {
    flex: 1 !important;
}

.flex-auto {
    flex: 1 1 auto !important;
}

.flex-initial {
    flex: 0 1 auto !important;
}

.flex-none {
    flex: none !important;
}

/* Float */
.float-l {
    float: left;
}

.float-r {
    float: right;
}

/* Position */
.pos-relative {
    position: relative !important;
}

.pos-absolute {
    position: absolute !important;
}

.pos-left-0 {
    left: 0;
}

.pos-top-0 {
    top: 0;
}

/* Text */
.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.weight-400 {
    font-weight: 400 !important;
}

.weight-500 {
    font-weight: 500 !important;
}

.weight-600 {
    font-weight: 600 !important;
}

.weight-700 {
    font-weight: 700 !important;
}

/* Size */
.w-100 {
    width: 100% !important;
}

.w-150 {
    width: 150%;
}

.h-100 {
    height: 100%;
}

/* Img Size */
.img-xs {
    width: 1.8rem !important;
    height: 1.8rem !important;
}

.img-sm {
    width: 2.4rem !important;
    height: 2.4rem !important;
}

.img-md {
    width: 3.2rem !important;
    height: 3.2rem !important;
}

.img-lg {
    width: 4.8rem !important;
    height: 4.8rem !important;
}

/* Margin */
.m-2 {
    margin: 0.2rem !important;
}

.m-4 {
    margin: 0.4rem;
}

.m-8 {
    margin: 0.8rem;
}

.m-10 {
    margin: 1rem;
}

.m-12 {
    margin: 1.2rem;
}

.m-18 {
    margin: 1.8rem;
}

.m-24 {
    margin: 2.4rem;
}

.m-36 {
    margin: 3.6rem;
}

.m-48 {
    margin: 4.8rem;
}

.mt-10 {
    margin-top: 1rem;
}

.mt-20 {
    margin-top: 2rem;
}

.mt-24 {
    margin-top: 2.4rem;
}

.mt-30 {
    margin-top: 3rem;
}

.mt-32 {
    margin-top: 3.2rem;
}

/* Padding */
.p-0 {
    padding: 0 !important;
}

.p-4 {
    padding: 0.4rem !important;
}

.p-8 {
    padding: 0.8rem !important;
}

.p-12 {
    padding: 1.2rem !important;
}

.p-20 {
    padding: 2rem !important;
}

.p-24 {
    padding: 2.4rem !important;
}

.p-36 {
    padding: 3.6rem !important;
}

.p-48 {
    padding: 4.8rem !important;
}

.pt-8 {
    padding-top: 0.8rem !important;
}

.pb-20 {
    padding-bottom: 2rem !important;
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.py-20 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

/* Gap */
.g-0 {
    gap: 0 !important;
}

.g-4 {
    gap: 0.4rem !important;
}

.g-8 {
    gap: 0.8rem !important;
}

.g-12 {
    gap: 1.2rem !important;
}

.g-16 {
    gap: 1.6rem !important;
}

.g-20 {
    gap: 2rem !important;
}

.g-24 {
    gap: 2.4rem !important;
}

.g-36 {
    gap: 3.6rem !important;
}

.g-48 {
    gap: 4.8rem !important;
}

/* Overflow */
.overflow-scroll {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

/* Text-color */
.white-color {
    color: #fff !important;
}

.fs-12 {
    font-size: 1.2rem;
}

.fs-14 {
    font-size: 1.4rem;
}

.fs-16 {
    font-size: 1.6rem;
}

.fs-18 {
    font-size: 1.8rem;
}

.fs-20 {
    font-size: 1.8rem;
}

/* Border */
.border-0 {
    border: 0 !important;
}

.border-t1 {
    border-top: 0.1rem solid var(--border-pri);
}

.radius-0 {
    border-radius: 0;
}

.radius-4 {
    border-radius: 0.4rem;
}

.radius-8 {
    border-radius: 0.8rem;
}

.radius-12 {
    border-radius: 1.2rem;
}

/* Shadow */
.no-shadow {
    box-shadow: none !important;
}

/* Flex Position */
.flex-item-top {
    margin-bottom: auto;
}

.flex-item-center {
    margin-top: auto;
    margin-bottom: auto;
}

.flex-item-bottom {
    margin-top: auto;
}

.flex-item-right {
    margin-left: auto;
}

.flex-item-left {
    margin-right: auto;
}

.ellipsis {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Full Page */
.min-h-screen {
    height: 100%;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-screen {
    height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Animation */
@keyframes floating {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-0.2rem);
    }
}

@keyframes floating-lg {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-0.8rem);
    }
}

.floating {
    animation: floating 0.5s infinite alternate;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
}

.fade-in-animate {
    animation: fade-in 1s;
    animation-fill-mode: forwards;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
