@font-face {
    font-family: 'SamsungOneKorean';
    src: url('/assets/font/SamsungOneKorean_UltraLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungOneKorean';
    src: url('/assets/font/SamsungOneKorean_Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungOneKorean';
    src: url('/assets/font/SamsungOneKorean_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungOneKorean';
    src: url('/assets/font/SamsungOneKorean_Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungOneKorean';
    src: url('/assets/font/SamsungOneKorean_Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungOneKorean';
    src: url('/assets/font/SamsungOneKorean_ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungOneKorean';
    src: url('/assets/font/SamsungOneKorean_Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
