#header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}

#type-a {
    #header .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5.2rem;
        background-color: #fff;
        border-bottom: 0.1rem solid #fafafa;
    }

    #container {
        padding-top: 5.2rem;
    }
}

/* Wrap */
#wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Container */
#container {
    flex-grow: 1;
}

/* Inner */
.inner {
    width: 100%;
    padding-inline: 1.6rem;
}

/* Footer */
#footer {
    padding-bottom: 4.6rem;
}

/* Bottom Nav */
#bottom-nav {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 7.2rem;
    z-index: 999;
}

.bottom-nav-list {
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    background-color: #fff;
    border-radius: 2.4rem 2.4rem 0 0;
    filter: drop-shadow(0 -2px 10px rgba(0, 45, 156, 0.14));
}

.bottom-nav-list > li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-nav-list > li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    color: var(--a-txt-sec);
    font-size: 1.2rem;
}

.bottom-nav-list > li.is-active > a {
    color: var(--a-pri);
}
