#header {
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 999;
}

html,
body {
    height: 100%;
}

@media (min-width: 768px) {
    html,
    body {
        overflow-x: hidden !important;
    }

    #app-container {
        width: 37.5rem;
        height: 72rem;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

        overflow-x: auto;

        margin: 0 auto;

        /* [매우 중요] fixed 요소를 이 박스 안에 가둡니다 */
        transform: translate(0, 0);
    }

    #app-container::-webkit-scrollbar {
        display: none;
    }

    #bottom-nav {
        position: absolute; /* fixed가 아닌 absolute */
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        transition: none;
    }

    #header,
    .popup-header {
        position: absolute;
        left: 0;
        top: 0;
        transition: none;
    }
}

#type-a {
    #header .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5.2rem;
        background-color: #fff;
        border-bottom: 0.1rem solid #fafafa;
    }

    #container {
        padding-top: 5.2rem;
    }

    /* 260108 */
    .search > div img {
        width: 100%;
    }
    .cert-loading {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        height: 100vh;
    }
    .cert-loading.fixed {
    }

    .loader-bar {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .spinner {
        transform-origin: 50% 50%;
        animation: rotate 3s linear infinite;
    }
    .cert-txt {
        width: 100%;

        max-width: 10rem;
    }

    /* Popup */
    .popup {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 10000;
        width: 100%;
        height: 100%;
        max-width: none;
        min-height: 72rem;
        background-color: #fff;
        inset: 0;
        /* overflow-y: scroll; */

        .popup-header {
            display: flex;
            padding: 1.3rem 1.5rem;
            justify-content: space-between;
            background-color: #fff;
            /* box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1); */
            z-index: 1;
        }
        .dot-form {
        }
        .dot-form p {
            position: relative;
            padding-left: 0.8rem;
            margin-top: 0.8rem;
        }
        .dot-form p:before {
            content: '';
            display: block;
            width: 0.3rem;
            height: 0.3rem;
            background-color: #555;
            border-radius: 0.4rem;
            position: absolute;
            top: 0.8rem;
            left: 0;
        }
        .popup-header .tit {
            font-size: 2rem;
            font-weight: 400;
        }
        .popup-body {
            background-color: #fff;
            /* padding-top: 2rem; */
        }
        .svc-inner {
            padding: 0 1.5rem;
        }
        .popup-body ul .pop-item {
            background-color: #fff;
            border: 1px solid #e0e0e0;
            border-radius: 6px;
            margin-bottom: 0.4rem;
        }
        .popup-body ul .pop-item .pop-tit {
            display: flex;
            align-items: center;
            padding: 1.2rem;
            gap: 0.5rem;
        }
        .popup-body ul .pop-item .pop-tit p {
            font-size: 1.6rem;
            font-weight: 400;
        }
        .pop-circle {
            display: block;
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 0.8rem;
            margin-right: 0.8rem;
        }
        .pop-circle.green {
            background-color: #37de43;
        }
        .pop-circle.red {
            background-color: #de3737;
        }
        .popup-body ul .pop-item .pop-txt {
            display: none;
            padding: 2rem 1.2rem;
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.06) inset;
            border-radius: 6px 6px 0 0;
        }
        .popup-body ul .pop-item.is-open .pop-txt {
            display: block;
        }
        .popup-body ul .pop-item.arrow p {
            width: 100%;
            position: relative;
        }
        .popup-body ul.security .pop-item.arrow.is-open p,
        .popup-body ul.security .pop-item.arrow .on p {
            color: #003bdb;
        }
        .popup-body ul .pop-item.arrow p span {
            color: #4fc6df;
        }
        .popup-body ul .pop-item.arrow p:after,
        .popup-body ul .pop-item.arrow .on p:after {
            content: '';
            display: block;
            width: 1.6rem;
            height: 0.9rem;
            background: url(../../assets/images/icon/ico_down_arrow.svg);
            position: absolute;
            top: 0.7rem;
            right: 0;
            transition: all 0.3s ease-out;
        }
        .popup-body ul .pop-item.arrow.is-open p:after,
        .popup-body ul .pop-item.arrow .on p:after {
            transform: rotate(180deg);
        }
        .popup-body ul .pop-item.arrow .pop-txt {
            /* padding:0; */
        }
        .popup-body ul .pop-item.arrow .pop-txt img {
            width: 100%;
        }
        .popup-body .more-btn {
            position: fixed;
            /* bottom: calc(100vh - 72rem + 3rem); */
            bottom: 3rem;
            width: 100%;
            padding: 0 1.5rem;
            margin: 0 -1.5rem;
            max-width: none;
        }
        .popup-body .more-btn.relative {
            position: relative;
            bottom: 0;
            padding: 0;
            margin: 0;
        }
        .popup-body .more-btn a {
            display: flex;
            width: 100%;
            height: 4.8rem;
            border: 1px solid #0068ff;
            border-radius: 12px;
            font-size: 18px;
            font-weight: bold;
            color: #0068ff;
            align-items: center;
            justify-content: center;
            background-color: #fff;
        }
        .pop-footer {
            margin-top: 3rem;
        }
        .pop-footer img {
            width: 100%;
        }
        .popup-header.back {
            position: relative;
            align-items: center;
            justify-content: center;
            height: 6.2rem;
        }
        .popup-header.back h2 {
        }
        .popup-header.back a {
            position: absolute;
            top: 0;
            left: 0;
        }

        .popup-body.cert {
        }

        .risk-inner {
            padding: 0 1.5rem;
            margin-top: 2rem;
        }
        /* 노출상세 */
        .view-detail {
            padding: 0 1.6rem;
            margin-top: 2rem;
            padding-bottom: 3rem;
        }
        .view-opt {
            display: flex;
            justify-content: space-between;
            height: 4.4rem;
            background: #0068ff0f;
            border-radius: 6rem;
            align-items: center;
        }
        .view-opt .form-select.all {
        }
        .view-detail-txt {
            font-size: 1.5rem;
            border: 0;
            background-color: transparent;
            width: 100%;
            padding-left: 2rem;
        }
        .view-opt .form-select.date {
            height: 100%;
        }
        .view-opt .form-select.date select {
            width: 100%;
            height: 100%;
            border-radius: 6rem;
            border: 1px solid #fff;
            box-shadow: 0px 0px 5px 0px #4964d21a;
            padding: 0 2rem;
            appearance: auto;
        }
        .view-detail-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-top: 1rem;
        }
        .view-detail-list li {
        }
        .view-detail-list li img {
            width: 100%;
        }
        .cert-inner {
            padding: 0 1.5rem;
        }
        .popup-body.cert > div img {
            width: 100%;
        }
        .cert-phone {
            margin-top: 3rem;
        }
        .cert-phone p {
            font-size: 1.6rem;
            font-weight: 600;
            color: #444;
            margin-bottom: 0.5rem;
        }
        .cert-btn {
            display: flex;
            width: 100%;
            gap: 0.8rem;
            padding: 0 1.5rem;
            position: fixed;
            bottom: 3rem;
            margin: 0 -1.5rem;
            max-width: none;
        }
        .cert-btn.relative {
            position: relative;
            margin: 0;
            bottom: 0;
            margin-top: 2rem;
            padding: 0;
        }
        .cert-btn.btn02 {
            flex-direction: column;
        }
        .cert-btn .btn01 {
            width: 100%;
            height: 4.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #0068ff;
            color: #0068ff;
            border-radius: 1.2rem;
            font-size: 1.8rem;
            font-weight: 700;
        }
        .cert-btn .btn02 {
            width: 100%;
            height: 4.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #0068ff;
            background-color: #0068ff;
            color: #fff;
            border-radius: 1.2rem;
            font-size: 1.8rem;
            font-weight: 700;
        }
        .cert-btn-02 {
        }

        .cert-btn button:disabled {
            opacity: 0.3;
            background: #0068ff;
            color: #fff;
            border: 1px solid #ddd;
            cursor: not-allowed;
        }
        .cert-loading {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        .monitoring {
            padding: 0 1.5rem;
            margin-top: 2rem;
            padding-bottom: 3rem;
            background-color: #fff;
        }
        .monitoring-txt {
            /* margin-top: 3rem; */
        }
        .monitoring-txt-01 {
            font-size: 1.6rem;
            font-weight: 600;
            color: #222;
        }
        .monitoring-txt-02 {
            display: block;
            margin-top: 0.8rem;
            font-size: 1.5rem;
            font-weight: 400;
            color: #555;
        }
        .monitoring-img {
            margin-top: 1.6rem;
            border: 1px solid #ddd;
            padding: 2rem 1rem;
            border-radius: 1.2rem;
        }
        .monitoring-img img {
            width: 100%;
        }
        .monitoring-img ul {
            padding: 0;
        }
        .monitoring-img ul li {
            margin-top: 3rem;
        }
        .sec-count {
            display: flex;
            height: 5.4rem;
            align-items: center;
            justify-content: space-between;
            padding: 0 1.2rem;
            background-color: #0068ff0f;
            border-radius: 1.2rem;
            margin-top: 1rem;
        }
        .sec-count .sec-count-all {
            font-size: 1.6rem;
            font-weight: 500;
            color: #333;
        }
        .sec-count .sec-count-num {
            font-size: 1.6rem;
            font-weight: 500;
            color: #0068ff;
        }

        .view-detail-img {
        }
        .view-detail-img p {
            font-size: 1.6rem;
            font-weight: 500;
            color: #222;
        }
        .view-detail-img img {
            margin-top: 2rem;
            width: 100%;
        }
        .accident {
            padding-bottom: 3rem;
        }
        .acc-img-01 {
        }
        .acc-img-01 img {
            width: 100%;
        }
        .acc-img-03 ul {
            padding: 2rem 1.5rem;
            border: 1px solid #ddd;
            border-radius: 2rem;
            box-shadow: 0px 0px 10px 0px #4964d233;
        }
        .acc-img-03 ul li {
            margin-top: 2.5rem;
        }
        .cert-loading {
        }
    }
    .popup.report {
        position: fixed;
    }
}

#type-c {
    #header .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5.2rem;
        transition: background 0.3s ease-out;
    }

    #header .inner.is-top {
        background: transparent;
    }

    #header .inner.is-fixed {
        background: #fff;
        box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
    }

    #container {
        padding-top: 5.2rem;
    }
}

#type-d {
    #header .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5.2rem;
        transition: background 0.3s ease-out;
    }

    #header .inner.is-top {
        background: transparent;
    }

    #header .inner.is-fixed {
        background: #fff;
        box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
    }
}

/* Wrap */
#wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Container */
#container {
    flex-grow: 1;
}

/* Inner */
.inner {
    width: 100%;
    padding-inline: 1.6rem;
}
#container > .inner {
    /* padding-bottom:10rem; */
}
/* Footer */
#footer {
    padding-bottom: 4.6rem;
}

/* Bottom Nav */
#bottom-nav {
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 999;
}

/* @media (min-width: 1024px) {
    #bottom-nav {
        bottom: calc(100vh - 72rem);
    }
} */

.bottom-nav-list {
    height: 7.2rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    background-color: #fff;
    border-radius: 2rem 2rem 0 0;
    filter: drop-shadow(0 -2px 10px rgba(0, 45, 156, 0.14));
}

.bottom-nav-list > li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-nav-list > li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    color: var(--a-txt-thr);
    font-size: 1.2rem;
}

.bottom-nav-list > li > a > img {
    width: 3rem;
    height: 3rem;
}

.bottom-nav-list > li.is-active > a {
    color: var(--a-pri);
    position: relative;
    font-weight: 500;
}

.bottom-nav-list > li.is-active > a::before {
    content: '';
    position: absolute;
    top: 0.4rem;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    display: inline-block;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 104, 255, 0.4) 0%, rgba(0, 104, 255, 0.08) 68.75%, rgba(0, 104, 255, 0) 100%);
}

/* Popup */
.popup {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 10000;
    max-width: none;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #fff;
    inset: 0;
    /* overflow-y: scroll; */

    .popup-header {
        max-width: none;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        width: 100%;
        display: flex;
        padding: 1.3rem 1.5rem;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }
    .popup-header .tit {
        font-size: 2rem;
        font-weight: 400;
    }

    .popup-body {
        /* 헤더 높이만큼 띄워줌 */
        padding-top: 5.4rem;

        display: flex;
        flex-direction: column;
        background-color: #fff;
        flex-grow: 1;
        max-height: calc(100% - 5.4rem);
        /* overflow-y: auto; */
    }

    .popup-body::-webkit-scrollbar {
        display: none;
    }

    .popup-body ul {
        padding: 2rem 0;
    }
    .popup-body ul .pop-item {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 12px;
        margin-bottom: 0.4rem;
    }
    .popup-body ul .pop-item .pop-tit {
        display: flex;
        align-items: center;
        padding: 1.2rem;
    }
    .popup-body ul .pop-item .pop-tit p {
        font-size: 1.6rem;
        font-weight: 400;
    }
    .pop-circle {
        display: block;
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 0.8rem;
        margin-right: 0.8rem;
    }
    .pop-circle.green {
        background-color: #37de43;
    }
    .pop-circle.red {
        background-color: #de3737;
    }
    .popup-body ul .pop-item .pop-txt {
        display: none;
        padding: 1.2rem;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.06) inset;
        border-radius: 6px 6px 0 0;
    }
}

/* @media (min-width: 1024px) {
    .popup-body .more-btn {
        bottom: calc(100vh - 72rem + 3rem);
    }
} */
