:root {
    /* Primary */
    --pri: #006bff;

    /* Background */

    /* Border */

    /* Text */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: inherit;
    color: inherit;
    word-break: keep-all;
}

/* HTML5 Display-Role Reset For Older Browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 72rem;
    font-size: 62.5%;
    scroll-behavior: smooth;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    overflow-x: hidden;
}

body {
    position: relative;
    font-weight: 400;
    font-family: 'SamsungOneKorean', sans-serif;
    height: 72rem;
    overflow-x: auto;
    line-height: 1.4;
    font-size: 1.4rem;
    /* color: var(--txt-pri); */
}

body::-webkit-scrollbar {
    display: none;
}

/* height 100%인 경우에도 max-height 고정 */
/* *:not(html, body) {
    max-height: 72rem;
} */

input,
select,
textarea,
pre {
    margin: 0;
    padding: 0;
    outline: none;
    color: inherit;
    appearance: none;
    text-overflow: ellipsis;
}

pre {
    white-space: pre-wrap;
}

fieldset,
img {
    border: 0;
    max-width: 100%;
}

select,
input,
img,
button {
    vertical-align: middle;
}

img {
    object-fit: cover;
}

address {
    font-style: normal;
}

ol,
ul,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    color: inherit;
    text-decoration: none;
}

em {
    font-style: normal;
}

summary::-webkit-details-marker {
    display: none;
}

summary {
    list-style-type: none;
}

button {
    cursor: pointer;
}

textarea {
    border: 0;
    width: 100%;
    min-height: 100px;
    background-color: transparent;
    word-break: keep-all;
    word-wrap: break-word;
    cursor: pointer;
    resize: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

button,
input {
    padding: 0;
    border: 0;
    background: inherit;
    font-family: inherit;
    -webkit-border-radius: 0;
    border-radius: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    vertical-align: middle;
}

strong,
em {
    font-weight: 700;
}

/* Swiper */
.swiper-container {
    position: relative;
}

.swiper,
.swiper-slide {
    width: 100%;
}

.swiper-indicator .swiper-pagination {
    position: static;
}

.swiper-pagination-bullet {
    opacity: 1 !important;
    margin: 0 !important;
}

/* Aria */
.sr-only,
caption,
legend {
    margin: -0.1rem !important;
    padding: 0 !important;
    border: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    position: absolute !important;
    width: 0.1rem !important;
    height: 0.1rem !important;
    white-space: nowrap !important;
}
